In [34]:
#import useful libraries
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import k_means
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras import optimizers
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import os
from tensorflow.keras.utils import to_categorical
from tensorflow.keras import losses
from tensorflow.keras import metrics

In [35]:
#directries
original_dir='/home/usama/Desktop/Aeroplane project'
dataset_dir='/home/usama/Desktop/Aeroplane project/areoplane dataset'

In [36]:
#import all cvs folder
train_dir=os.path.join(dataset_dir,'train.csv')
test_dir=os.path.join(dataset_dir,'test.csv')
sample_dir=os.path.join(dataset_dir,'sample_submission.csv')

In [37]:
#read all csv files
train_data_frame=pd.read_csv(train_dir)
test_data_frame=pd.read_csv(test_dir)
sample_submission_data_frame=pd.read_csv(sample_dir)

In [143]:
#check train data view
train_data_frame.head(5)

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,Minor_Damage_And_Injuries,49.223744,14,22,71.285324,0.272118,78.04,2,31335.476824,3,0.424352,7570
1,Minor_Damage_And_Injuries,62.465753,10,27,72.288058,0.423939,84.54,2,26024.711057,2,0.352350,12128
2,Significant_Damage_And_Fatalities,63.059361,13,16,66.362808,0.322604,78.86,7,39269.053927,3,0.003364,2181
3,Significant_Damage_And_Serious_Injuries,48.082192,11,9,74.703737,0.337029,81.79,3,42771.499200,1,0.211728,5946
4,Significant_Damage_And_Fatalities,26.484018,13,25,47.948952,0.541140,77.16,3,35509.228515,2,0.176883,9054

In [39]:
train_data_frame.describe()

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000
mean,41.876406,12.931100,6.564300,65.145324,0.381495,79.969331,3.814900,32001.803282,2.01220,0.255635,6266.554200
std,16.138072,3.539803,6.971982,11.882934,0.121301,2.759739,1.902577,9431.995196,1.03998,0.381128,3610.170288
min,0.000000,1.000000,0.000000,0.000000,0.134000,74.740000,1.000000,831.695553,0.00000,0.000316,2.000000
25%,30.593607,11.000000,2.000000,56.927985,0.293665,77.960000,2.000000,25757.636908,1.00000,0.012063,3139.750000
50%,41.278539,13.000000,4.000000,65.587967,0.365879,79.540000,4.000000,32060.336419,2.00000,0.074467,6280.500000
75%,52.511416,15.000000,9.000000,73.336372,0.451346,81.560000,5.000000,38380.641513,3.00000,0.354059,9391.500000
max,100.000000,23.000000,54.000000,100.000000,0.882648,97.510000,7.000000,64297.651218,5.00000,2.365378,12500.000000

In [137]:
train_data=train_data_frame.iloc[:,1:11]
train_lable=train_data_frame.iloc[:,0]

In [151]:
#encode the testing data and convert into float values
encoded=LabelEncoder()
encoded.fit(train_lable)
test_encoded=encoded.transform(train_lable)

In [152]:
trainx,testx,trainy,testy=train_test_split(train_data,test_encoded,test_size=0.25,random_state=42)

In [139]:
def build_model():
    model=Sequential()
    model.add(Dense(64,activation="relu",input_shape=(data.shape[1],)))
    model.add(Dense(10,activation='relu'))
    model.add(Dense(1,activation='sigmoid'))
    model.compile(optimizer='rmsprop',loss='mse',metrics=['mae'])
    return model

In [ ]:
k=4
num_val_sample=len(data)//k
epoch=10
all_scores=[]
for i in range(k):
    print("processing fold #",i)
    val_data=data[i*num_val_sample:(i+1)*num_val_sample]
    val_target=X_2[i*num_val_sample:(i+1)*num_val_sample]
    partial_train_data=np.concatenate([data[:i*num_val_sample],data[(i+1)*num_val_sample:]],axis=0)
    partial_target_data=np.concatenate([X_2[:i*num_val_sample],X_2[(i+1)*num_val_sample:]],axis=0)
    model=build_model()
    model.fit(partial_train_data,partial_target_data,epochs=epoch,batch_size=1,verbose=1)
    val_mse,val_mae=model.evaluate(val_data,val_target,verbose=1)
    all_scores.append(val_mae)